@import "tailwindcss";

@theme{
  /* font styling */
  --font-heading: "figtree", sans-serif;
  --font-subheading:"Poppins", sans-serif;
  --font-logo:"Jersey 25", sans-serif;
  /* colors */
  --color-primary:#0052CC;
  --color-sec:#F6F3F4;
  --color-box:#FFF0F9;

}

.container{
  margin-bottom: 1.2rem ;

}
html{
  scroll-behavior: smooth;
 
}